.intro {
  width: 100%;
  min-height: 100vh;
  background: #0d42b2;
  background: url(/overlay.png) 0 0 no-repeat, url(/azure.png) 50% 100% no-repeat;
  background-size: contain, cover;

  .particles-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .container {
    width: 100%;
    display: flex;
    margin: 0 auto;
    min-height: 100vh;
    padding-right: 15px;
    padding-left: 15px;
    justify-content: space-between;

    .banner-content {
      margin-top: 120px;
      max-height: 675px;
      width: 100%;
      display: flex;
      z-index: 1;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      .content {
        width: 100%;
        align-items: center;
        display: flex;

        h1 {
          color: #fff;
          line-height: 1.33;
          font-weight: 600;
          margin: 0 0 18px;
          font-size: 2.93em;
        }

        p {
          font-size: 1.67em;
          line-height: 1.28;
          font-weight: 300;
          color: #ffffff;
          margin-bottom: 40px;

          &:last-of-type {
            font-size: 1.27em;
            line-height: 1.68;
            margin-bottom: 20px;
          }
        }

        a {
          bottom: 5px;
          background: #16a4fd;
          color: white;
          cursor: pointer;
          display: block;
          height: 46px;
          line-height: 46px;
          text-transform: uppercase;
          border: 0px none white;
          border-radius: 23px 23px 23px 23px;
          padding: 0px 20px;
          font-size: 15px;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .intro {
    .container {
      max-width: 960px;
    }
  }
}

@media (min-width: 1200px) {
  .intro {
    .container {
      max-width: 1140px;
    }
  }
}

@media only screen and (max-width: 991px) {
  .intro {
    .container {
      max-width: 720px;

      .banner-content {
        margin-bottom: 80px;

        .content-left {
          width: 100%;
          margin: 45px 0 30px 0;

          & > div {
            width: 100%;
          }


          br {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .intro {
    align-items: center !important;
    display: flex;

    .container {
      padding-left: 20px;
      padding-right: 20px;
      max-width: 100%;
    }
  }
}

@media only screen and (max-width: 480px) {
  .intro {
    .container {
      .banner-content {
        .content {
          h1 {
            font-size: 1.7em;
          }

          p {
            font-size: 1.2em;

            &:last-of-type {
              font-size: 1em;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 321px) {
  .intro {
    .container {
      .banner-content {
        margin-top: 80px;

        .content {
          p :global(br) {
            display: none;
          }
        }
      }
    }
  }
}

